extends layout

block content
    h1.
        Restaurant List

    ul

        each restaurant, i in restaurantlist
            li. #{restaurant.username}
            ul
                li.
                    Email = #{restaurant.email}
                li. 
                    Password = #{restaurant.password}
                li. 
                    Address = #{restaurant.address}
                li. 
                    City = #{restaurant.city}
                li. 
                    State = #{restaurant.state}
                li. 
                    Zip Code = #{restaurant.zip}